@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 232 23% 11%;
    --foreground: 0 0% 98%;
    --card: 232 23% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 232 23% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 232 14% 31%;
    --secondary-foreground: 0 0% 98%;
    --muted: 232 14% 31%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 232 14% 31%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 14% 31%;
    --input: 232 14% 31%;
    --ring: 232 14% 31%;
    --radius: 0.75rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-image: radial-gradient(circle at center, rgba(25, 30, 44, 0.8) 0%, rgba(14, 17, 26, 1) 100%);
  }
}